*{
    -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;
}
body{
    Font-Family: 'Playfair Display', Serif;
    Font-Size: 20px;
    Font-Family: 'Source Sans Pro', Sans-Serif;
    Font-Size: 16px;
    
}

footer{
    margin-top: auto;
    background-color:#d62828;
    font-size: 1.2rem;
}
footer h2{
    font-style: italic;
    text-transform: uppercase;
    margin: 1rem 0 .3rem 0;
}
footer img{
    -webkit-box-reflect: right;
    width:auto;
    height:60px;
}
footer p{
    font-size:medium;
    color: black;
}
footer li{
    list-style-type: none;
    padding: 0;
}


.row{
    display:flex;
    flex-wrap:wrap;
}
.limited{
    max-width:1140px;
    margin:auto;
}
.column{
    padding:0 2vw;
    margin:0 0 .75rem 0;

}
.small-12{
    flex-basis:100%;
}

header{
    background-color: #d62828;
}
header img{
    float:left;
    height: 60px;
    width:auto;
    padding-right: 10px;
}
header h1,p{
    margin:0;
    color:#fff;
    font-weight: 300;
    font-style: italic;
}
header h1{
    padding:.5rem 0 0 0 ;
    font-size: 1.95rem;
}
/*header h2{
    padding: .2rem 0 0 0;
    font-family: 1.05rem;
}*/
/* Style the navigation menu */
nav {
   display:flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   padding:15px;
   font-size: 20px; 
  }
  .topnav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    list-style-type: none;
  }
  
  /* Style navigation menu links */
  .topnav li a {
    display: inline-block;
    color: white;
    font-Family: 'Source Sans Pro', Sans-Serif;
    padding: 12px 20px;
    text-decoration: none;
        
  }
  .hamburger{
    background-color: transparent;
    border:0;
    color:#fff;
    display:none;
    cursor:pointer;
    font-size:20px;
  }
  .hamburger:focus{
    outline: none;
  }
  
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  /*tablets */
@media only screen and (max-width:700px){
    header h1{    
      font-size: 2.85rem;
      color:black;
    }
    header img{
      font-size: 1.5rem;
      height:100px;
    }
    .topnav{
      display: none;
      flex-direction: column;
      width:100%;
    }
    .topnav.show{
      display: flex;
    }
    .topnav li a{
      padding:10px;
    }
    .hamburger{
      display: block;
    }
      .medium-6{
        flex-basis:50%;
      }
      }
  
      /* desktop*/
      @media only screen and (min-width:924px){
                .large-3{        
             flex-basis:25%;
             color: yellow;
          }  
          footer p{
            color: yellow;
          }
        }
  
 